body, html {
    height: 100%;
    margin: 0;
    text-align: center;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    color: black;
  }

.title{
    color: black;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    display: auto
}
  

.module{
    background-image: url('background.jpg') ;
    height: 100%;
    background-size: auto;

}
header,h3{
    display: block;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 70px;
    color: black;
    
}

.checkbox{
    display: block;
    margin-left: auto;
    margin-right: auto
    width: 8em

}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
  }

  .card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
    text-align: center;
    float: left;
  }

  
  .card-footer::after {
    content: " ";
    display: block;
    clear: both;
  }